*,
html,
body {
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  color: white;
  font-size: 20px;
}

.game_container {
  position: relative;
  width: fit-content;
  margin: 0 auto;
  padding: 5px 35px;
  background-color: #FF8AAC;
  border: 2px solid #f46891;
  border-radius: 10px;
  margin-top: 20px;
  overflow: visible;
}

.game_table {
  background-color: #f6a2ff;
  border-radius: 5px;
  background-image: url('./120848579_p0.png');
  background-repeat: 0;
  background-position: 0;
  background-size: cover;
  border-spacing: 0;
  border: 2px solid white;
}

.game_table tr {
  margin: 0;
  min-width: 15px;
}

.game_table .cell {
  position: relative;
  background-color: #FF8AAC;
  margin: 0;
  border: 2px solid transparent;
  color: #FF8AAC;
  font-size: 17px;
  text-align: center;
  user-select: none !important;
  transition: all .3s;
  -webkit-text-stroke: 1px #FF8AAC;
}

.game_table .cell:hover {
  border-color: white;
}

.game_table .cell::after {
  width: 100%;
  height: 100%;
  color: white;
  font-size: 28px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game_table .cell.star::after {
  content: '★';
}

.game_table .cell.flag::after {
  content: '▲';
}

.game_table .cell.boom::after {
  color: red;
}

.game_table .cell.open {
  background-color: transparent;
}

.top_controls .win {
  position: absolute;
  left: 4px;
  top: 0px;
}

.top_controls .reset {
  position: absolute;
  right: 4px;
  top: 0px;
}

.tip_wrap {
  width: 100%;
  position: relative;
}

.tip_wrap .tip {
  margin: 0 auto;
  width: fit-content;
  height: 27px;
}

.time_wrap {
  width: 100%;
  position: relative;
}

.time_wrap .time {
  margin: 0 auto;
  width: fit-content;
  height: 27px;
  line-height: 30px;
}

.mine_left_wrap {
  position: absolute;
  bottom: 4px;
}

.bottom_controls .settings {
  position: absolute;
  bottom: 4px;
  right: 4px;
}

.settings_form {
  display: none;
  position: absolute;
  right: 10px;
  bottom: 40px;
  border: 2px solid #fff;
  background-color: #FF8AAC;
  padding: 15px;
  border-radius: 10px;
  opacity: 0;
  transform: opacity .5s;
}

.settings_form.on {
  display: block;
  opacity: 1;
}

.settings_form .input {
  display: block;
}

.settings_form .input input {
  width: 70px;
  height: 20px;
  line-height: 20px;
  border: none;
  outline: none;
  background: white;
  border-radius: 2px;
  padding-left: 5px;
  font-size: 17px;
}

.settings_form button {
  margin-top: 5px;
  padding: 2px 10px;
  background: #ffffff;
  border: 2px solid #FF8AAC;
  outline: none;
}