.block_left_wrap {
  position: absolute;
  left: 0;
  bottom: 4px;
}

.finish_controls {
  display: none;
  justify-content: center;
}
.finish_controls.on {
  display: flex;
}
.finish_controls .btn {
  font-size: 20px;
  margin: 5px;
}

.game_container.edit {
  border: none;
}
.game_container.edit .before::before {
  background: conic-gradient(#ff8aac, #fff, #ff8aac, #fff, #ff8aac, #fff, #ff8aac, #fff, #ff8aac, #fff, #ff8aac, #fff, #ff8aac);
  animation-duration: 5s;
}