.container {
  width: 500px;
  height: 100vh;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .container {
    width: 100%;
  }
}
.title {
  text-align: center;
  color: #ff8aac;
}
.form {
  width: calc(100% - 10px);
  padding: 0 5px;
}
.input {
  width: 100%;
  height: 33%;
  border: 2px solid #ff8aac;
  border-radius: 5px;
  outline: unset;
}
.input:focus {
  border: 2px solid orange;
}
.controls {
  display: flex;
  flex-wrap: wrap;
  margin: 5px 0;
  align-items: center;
  color: #ff8aac;
}
.btn {
  width: 70px;
  height: 35px;
  background: #fff;
  color: #ff8aac;
  border: 2px solid #ff8aac;
  border-radius: 5px;
  outline: none;
  box-shadow: unset;
  font-size: 15px;
  line-height: 15px;
  margin: 2px;
  padding: 2px 0;
  flex-shrink: 0;
}
.checkbox {
  display: flex;
  align-items: center;
}
#version {
  appearance: none;
}
#version::after {
  content: '';
  display: block;
  width: 23px;
  height: 23px;
  border: 2px solid #ff8aac;
  border-radius: 3px;
}
#version:checked::after {
  content: '\2713';
  background: #ff8aac;
  color: #fff;
  font-size: 20;
  display: flex;
  align-items: center;
  justify-content: center;
}
#version ~ span {
  margin-left: 3px;
}